<<<<<<< 61df1e9a7151b4cfeadef9f040b3a49e9d62ef04
/*
* Twitch Search Stream
* www.bettyleung.github.io/twitchSearchStream
* 5/25/2016
*/

/* Table of Contents
==================================================
	#title and search box
	#search area: mobile first
	#seach area: desktop and tablet
	#search result: meta details
	#reseach result: image and text description */

/*TODO: beautify results number*/
/*title and search box*********************************************************/
.main-container{
  width: 80%;
  margin: auto;
}
/* search area: mobile first**************************************************/
=======
/*title and search box*/
.main-container{
  border-bottom: : 1px solid #aaa;
  width: 80%;
  margin: auto;
}
/*mobile***********************/
>>>>>>> init
.header{
  border-bottom: 1px solid #aaa;
  text-align: center;
  padding: 10% 0% 5% 0%;
  overflow: auto;
}
<<<<<<< 61df1e9a7151b4cfeadef9f040b3a49e9d62ef04

.search-container{
  position: relative;
  display: inline-block;
}

=======
.search-box{
  position: relative;
  display: inline-block;
}
>>>>>>> init
.search-input{
  width: 67%;
  font-size: 100%;
  margin: auto;
  padding-right: 0px;
  white-space:nowrap;
}

.search-button-big{
  display: none;
}
<<<<<<< 61df1e9a7151b4cfeadef9f040b3a49e9d62ef04

=======
>>>>>>> init
.search-button-sm{
  display: inline;
}

<<<<<<< 61df1e9a7151b4cfeadef9f040b3a49e9d62ef04
/*search area: desktop and tablet******************/
@media only screen and (min-width: 768px) {
  h1{
    padding-bottom: .8em;
  }
  .header{
    padding: 8%;
  }
=======
div.container{
  padding: 0px;
}


/* meta nav stuff*/
.result-info-number {
  margin-left: 1%;
  white-space:nowrap;
}
.result-info{
  font-size: .8em;
  text-align: right;
  white-space:nowrap;
}
.decrease-border button{
  padding: 0px;
  border: 1px solid #fff;
}
.results-info{
  font-size: .7em;
}
.align-list-results{
  line-height: 40px;
  float: left;
}
.align-nav{
  float: right;
}
@media only screen and (min-width: 375px) {
  .results-info{
    font-size: 1em;
  }
}

/*desktop and tablet*/
@media only screen and (min-width: 770px) {

  .header{
    padding: 8%;
  }
  h1{
    padding-bottom: .8em;
  }
>>>>>>> init
  .search-box{
    position: relative;
    display: inline-block;
  }
<<<<<<< 61df1e9a7151b4cfeadef9f040b3a49e9d62ef04
=======

>>>>>>> init
  .search-input{
    width: 68%;
    float: left;
    font-size: 100%;
  }
  .search-button-big{
    float: left;
    display:inline;
  }
  .search-button-sm{
    display:none;
  }
<<<<<<< 61df1e9a7151b4cfeadef9f040b3a49e9d62ef04
}

/* search result: meta details***************************************************/
div.container{ /*override skeleton.css*/
  padding: 0px;
  width: 100%;
}

.results-info-container{
  font-size: .8em;
  text-align: right;
}

@media only screen and (min-width: 375px) {
  .results-info-container{
    font-size: 1em;
  }
}

.float-left {
  float: left;
}

.decrease-border button{ /*make btn clear*/
  padding: 0px;
  border: 1px solid #fff;
}

.align-list-results{ /*results info stays on one line*/
  line-height: 40px;
}

.align-nav{
  float: right;
}

/*reseach result: image and text descriptions*************************************/
.one-result{
  margin:auto;
  padding: 5% 0%;
  border-bottom: 1px solid #bbb;
  overflow: auto;
  text-align: center;
}

div > h4{
  font-weight: 600;
  letter-spacing: .1rem;

}
.results-subtitle{
  font-weight: 600;
  letter-spacing: .1rem;
}
/*mobile first*/
img{
  height: auto;
  max-width:100%;
}
.default-img{
  display:inline-block;
}

.tablet-img{
  display: none;
}
.desktop-img{
  display: none;
}

/*phablet*/
@media screen and (min-width:550px) {
  .one-result{
    text-align: left;
  }
  .default-img{
    display:none;
  }
  .tablet-img{
    display: inline-block;
  }
  .desktop-img{
    display: none;
  }
}

/*desktop*/
@media screen and (min-width:1024px) {
  .one-result{
    text-align: left;
  }
  .default-img{
    display:none;
  }
  .tablet-img{
    display: none;
  }
  .desktop-img{
    display: inline-block;
  }
=======

  /*meta nav stuff*/
  div .list-result {
    margin-left: 1%;
    white-space:nowrap;
  }

}



/*content******************/

img{
  max-height:100%; max-width:100%;
}
.one-result{
  margin:auto;
  padding: 5% 0%;
  border-bottom: 1px solid #aaa;
  overflow: auto;
>>>>>>> init
}
